.breadcrumbs-section
    margin-top: 80px
    margin-bottom: -40px
    .title
        font-size: 36px
        line-height: 1.2
        margin-bottom: 15px
        margin-top: 20px
        text-transform: uppercase
    .breadcrumbs-container
        display: flex
        gap: 10px
        a
            text-transform: uppercase
            @include text_16_medium
            color: $black_04

        a:after
            content: '/'
            margin-left: 10px
        a:last-of-type:after
            content: ''
