@import "modules/bootstrap.css";
@font-face {
  font-family: "Onest";
  src: url("/src/fonts/TTF/OnestRegular1602-hint.ttf") format("truetype"), url("/src/fonts/WOFF/OnestRegular1602-hint.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Onest";
  src: url("/src/fonts/TTF/OnestMedium1602-hint.ttf") format("truetype"), url("/src/fonts/WOFF/OnestMedium1602-hint.woff") format("woff");
  font-weight: 500;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

.btn {
  cursor: pointer;
}

.btn.no-br {
  border-radius: 0 !important;
}

.btn.blue {
  background: #024D7F;
  color: #FFFFFF;
  border-radius: 1000px;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.btn.gray {
  color: #0D0D0D;
  background: rgba(13, 13, 13, 0.1);
  border-radius: 1000px;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.btn.white {
  color: #024D7F;
  background: #FFFFFF;
  border-radius: 1000px;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.btn.outline {
  background: none !important;
}

.btn.blue.outline {
  border: 1px solid #024D7F;
  color: #024D7F;
}

.btn.gray.outline {
  border: 1px solid rgba(13, 13, 13, 0.1);
  color: rgba(13, 13, 13, 0.4);
}

.btn.white.outline {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.custom-input {
  display: flex;
  gap: 20px;
  padding: 24px;
  border: 1px solid rgba(13, 13, 13, 0.1);
}
.custom-input input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #0D0D0D;
}
.custom-input input::placeholder {
  color: rgba(13, 13, 13, 0.4);
}

.custom-input.icon {
  padding: 18px;
}
.custom-input.icon .icon {
  width: 24px;
  height: 24px;
}

.custom-input.white {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.custom-input.white input {
  color: #FFFFFF;
}
.custom-input.white input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

section:first-of-type {
  margin: 0;
}

section {
  margin-top: 80px;
}

.product {
  border: 1px solid rgba(13, 13, 13, 0.1);
  background: #FFFFFF;
}
.product .header {
  padding: 20px 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}
.product .header .info .name {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 15px;
}
.product .header .info .count {
  line-height: 1.2;
  margin-bottom: 40px;
}
.product .header .info .link {
  background: #024D7F;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.product .header .info .link:before {
  content: "";
  border-radius: 50%;
  width: 150%;
  height: 150%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(13, 13, 13, 0.1);
}
.product .body {
  padding: 20px;
  gap: 10px;
}
.product .accordion-button {
  border-radius: 1000px;
  padding: 15px;
  border: 1px solid rgba(13, 13, 13, 0.1);
  background: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 0.9;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.product .accordion-button::after {
  border: 1px solid rgba(13, 13, 13, 0.1);
  border-radius: 50%;
}
.product .accordion-body {
  padding: 10px 20px 20px;
}
.product .accordion-body span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
  color: rgba(13, 13, 13, 0.2);
  display: block;
}
.product .accordion-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(13, 13, 13, 0.4);
  margin-bottom: 10px;
}
.product .accordion-body p:last-child {
  margin-bottom: 0;
}

header {
  padding: 20px;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
  position: relative;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1880px;
  margin: 0 auto;
}
header .header-container .logo {
  width: 152px;
  height: auto;
}
header .header-container .logo img {
  object-fit: contain;
}
header .header-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  gap: 10px;
  padding: 6px 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
header .header-container .btn.recall {
  color: #FFFFFF;
  background: #024D7F;
}
header .header-container .btn.catalog {
  background: rgba(13, 13, 13, 0.05);
}
header .header-container .btn.compare {
  border: 1px solid rgba(13, 13, 13, 0.05);
  color: #024D7F;
}
header .header-container .btn-section {
  display: flex;
  gap: 20px;
}
header .header-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
header .header-container nav ul li a {
  color: rgba(13, 13, 13, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
header .header-container .contact-section {
  display: flex;
  gap: 20px;
}
header .header-container .contact-section .contacts {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
header .header-container .contact-section .contacts .phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
header .header-container .contact-section .contacts .email {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
header .catalog-menu {
  display: none;
}
header .catalog-menu.show {
  padding: 40px 0;
  background: #FFFFFF;
  width: 100%;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  display: block;
  z-index: 2;
}
header .catalog-menu.show .container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
header .catalog-menu.show .container .header {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
header .catalog-menu.show .container .header .title {
  text-transform: uppercase;
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
}
header .catalog-menu.show .container .header .count {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 1.6;
}
header .catalog-menu.show .container .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}
header .catalog-menu.show .container .body .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
header .catalog-menu.show .container .body .categories .item-c {
  cursor: pointer;
  height: 100%;
  padding: 24px;
  background: rgba(13, 13, 13, 0.05);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(13, 13, 13, 0.4);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

footer {
  background: #0D0D0D;
  padding-top: 160px;
  margin-top: 80px;
}
footer .main-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .main-footer form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
footer .main-footer form span {
  grid-column: 2;
  max-width: 400px;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.2;
}
footer .main-footer form span a {
  color: #B9E5FA;
  font-size: 12px;
  line-height: 1.2;
}
footer .main-footer nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .main-footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .main-footer nav ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
}
footer .main-footer .form {
  display: flex;
  flex-direction: column;
}
footer .main-footer .form .title {
  font-size: 64px;
  line-height: 1.1;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 25px;
}
footer .main-footer .form .description {
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 50px;
}
footer .second-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
  margin-top: 120px;
}
footer .second-footer .info-block {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
}
footer .second-footer .info-block p:first-of-type {
  margin-bottom: 18px;
}
footer .second-footer .time-work p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
footer .second-footer .time-work .time {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.2;
}
footer .second-footer .address {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
footer .second-footer .item-s {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
footer .second-footer .develop {
  cursor: pointer;
}
footer .second-footer .develop svg g {
  transition: all 0.3s ease-in-out;
}
footer .second-footer .develop:hover svg g {
  opacity: 1;
}

section .landing-section {
  background: url("/src/images/backgrounds/landing.jpg");
  padding: 80px 0 80px;
}
section .landing-section .landing-container {
  margin: 0 0 0 calc((100vw - 1760px) / 2);
}
section .landing-section .landing-container .swiper-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section .landing-section .landing-container .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section .landing-section .landing-container .content .title {
  display: flex;
  flex-direction: column;
}
section .landing-section .landing-container .content .title .top {
  display: flex;
  gap: 27px;
  align-items: center;
}
section .landing-section .landing-container .content .title .top p {
  font-size: 160px;
  line-height: 0.9;
  color: #024D7F;
  text-transform: uppercase;
  font-weight: 500;
}
section .landing-section .landing-container .content .title .top .tag {
  padding: 20px 30px;
  background: #FFFFFF;
  color: #0D0D0D;
  text-transform: uppercase;
  border-radius: 1000px;
  font-size: 64px;
  line-height: 1.1;
}
section .landing-section .landing-container .content .title .bottom p {
  text-transform: uppercase;
  color: #024D7F;
  font-size: 54px;
  line-height: 1;
}
section .landing-section .landing-container .content .btn-container {
  display: flex;
  gap: 50px;
}
section .landing-section .landing-container .content .btn-container .btn {
  max-width: 395px;
}
section .landing-section .landing-container .content .btn-container .slider-btn {
  display: flex;
  gap: 20px;
}
section .landing-section .landing-container .content .btn-container .slider-btn .slider-btn {
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
section .landing-section .landing-container .content .btn-container .slider-btn .slider-btn.prev {
  transform: rotate(180deg);
}
section .video-section .video-container iframe {
  width: 100%;
  height: 520px;
}
section .catalog-section {
  padding: 80px 0 0;
  background: rgba(13, 13, 13, 0.05);
}
section .catalog-section .catalog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
section .catalog-section .catalog-container .all-machines {
  grid-column: 4;
  text-align: center;
  background: #B9E5FA;
  color: #024D7F;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding: 23px;
}
section .catalog-section .catalog-container .product {
  grid-column: span 2;
}
section .call-section .call-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
section .call-section .call-container .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section .call-section .call-container .text p {
  font-size: 36px;
  line-height: 1.2;
}
section .call-section .call-container .text p span {
  color: #024D7F;
  font-size: 36px;
  line-height: 1.2;
}
section .call-section .call-container .text .btn {
  max-width: 395px;
}
section .call-section .call-container .text .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(13, 13, 13, 0.4);
}
section .call-section .call-container .form {
  padding: 20px;
  background: #B9E5FA;
  color: #024D7F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section .call-section .call-container .form p {
  font-size: 54px;
  line-height: 1;
}
section .call-section .call-container .form .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
section .blog-section .blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
section .blog-section .blog-container .btn {
  grid-column: 4;
}
section .blog-section .blog-container .item-b:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
section .blog-section .blog-container .item-b {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 165px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}
section .blog-section .blog-container .item-b .header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
section .blog-section .blog-container .item-b .header .tag {
  padding: 5px 10px;
  background: #FFFFFF;
  color: #0D0D0D;
  text-transform: uppercase;
  border-radius: 1000px;
}
section .blog-section .blog-container .item-b .header .date {
  color: rgba(255, 255, 255, 0.4);
}
section .blog-section .blog-container .item-b a {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #FFFFFF;
  z-index: 2;
}
section .product-section {
  margin-top: 20px;
}
section .product-section .product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
section .product-section .product-container .media-block {
  display: grid;
  grid-template-rows: 1fr 60px;
  gap: 20px;
}
section .product-section .product-container .media-block .main-photo {
  border: 1px solid rgba(13, 13, 13, 0.1);
}
section .product-section .product-container .media-block .main-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
section .product-section .product-container .media-block .elements {
  display: grid;
  grid-template-columns: 425px 1fr;
  gap: 20px;
}
section .product-section .product-container .media-block .elements .photos {
  display: flex;
  gap: 10px;
  overflow: auto;
}
section .product-section .product-container .media-block .elements .photos .item-p {
  width: 100%;
  cursor: pointer;
  height: 60px;
}
section .product-section .product-container .media-block .elements .photos .item-p img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .product-section .product-container .info-block {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
section .product-section .product-container .info-block .header {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}
section .product-section .product-container .info-block .header .name {
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 700px;
}
section .product-section .product-container .info-block .header .elements {
  display: flex;
  gap: 20px;
}
section .product-section .product-container .info-block .header .elements .btn.icon {
  padding: 10px;
  border: 1px solid rgba(13, 13, 13, 0.1);
  border-radius: 50%;
}
section .product-section .product-container .info-block .body {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
section .product-section .product-container .info-block .body .navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}
section .product-section .product-container .info-block .body .navigation .item-n {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(13, 13, 13, 0.2);
  cursor: pointer;
}
section .product-section .product-container .info-block .body .navigation .item-n.active {
  color: #0D0D0D;
}
section .product-section .product-container .info-block .body .tabs .item-t {
  display: flex;
  flex-direction: column;
  padding: 26px 20px 22px;
  background: rgba(13, 13, 13, 0.05);
  gap: 80px;
}
section .product-section .product-container .info-block .body .tabs .item-t .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 20px;
}
section .product-section .product-container .info-block .body .tabs .item-t .content .item-c:nth-last-child(-n+2) {
  border: none;
}
section .product-section .product-container .info-block .body .tabs .item-t .content .item-c {
  display: flex;
  padding-bottom: 24px;
  gap: 60px;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}
section .product-section .product-container .info-block .body .tabs .item-t .content .item-c .number {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(13, 13, 13, 0.4);
}
section .product-section .product-container .info-block .body .tabs .item-t .content .item-c p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 250px;
}
section .product-section .product-container .info-block .body .tabs .item-t span {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(13, 13, 13, 0.4);
}

.staff-section .staff-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.staff-section .staff-container .content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.staff-section .staff-container .content .item-c {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.staff-section .staff-container .content .item-c .title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.staff-section .staff-container .content .item-c .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.catalog-page-section .catalog-page-container {
  display: grid;
  grid-template-columns: 405px 1fr;
  gap: 42px;
}
.catalog-page-section .catalog-page-container .filter {
  display: flex;
  flex-direction: column;
}
.catalog-page-section .catalog-page-container .filter .header {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
  display: flex;
  flex-direction: column;
}
.catalog-page-section .catalog-page-container .filter .header .title {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog-page-section .catalog-page-container .filter .header .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 290px;
}
.catalog-page-section .catalog-page-container .filter .body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.catalog-page-section .catalog-page-container .filter .body .filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.catalog-page-section .catalog-page-container .filter .body .filters .item-f .title {
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.catalog-page-section .catalog-page-container .filter .body .filters .item-f label {
  display: flex;
  gap: 10px;
}
.catalog-page-section .catalog-page-container .filter .body .filters .item-f label input {
  width: 20px;
  height: 20px;
}
.catalog-page-section .catalog-page-container .filter .body .btn-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog-page-section .catalog-page-container .filter .body .btn-section .btn.outline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.catalog-page-section .catalog-page-container .catalog-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-container .item-p {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background: #FFFFFF;
  border: 1px solid rgba(13, 13, 13, 0.1);
}
.catalog-container .item-p .photo {
  height: 258px;
  width: 100%;
}
.catalog-container .item-p .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}
.catalog-container .item-p .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 20px;
}
.catalog-container .item-p .description {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.catalog-container .item-p .btn-section {
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
}
.catalog-container .item-p .btn-section .play-video {
  padding: 15px;
  background: #B9E5FA;
  border-radius: 50%;
}
.catalog-container .item-p .btn-section .compare {
  border-radius: 50%;
  border: 1px solid #024D7F;
  padding: 15px;
}

.breadcrumbs-section {
  margin-top: 80px;
  margin-bottom: 50px;
}
.breadcrumbs-section .breadcrumbs-container {
  display: flex;
  gap: 10px;
}
.breadcrumbs-section .breadcrumbs-container a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(13, 13, 13, 0.4);
}
.breadcrumbs-section .breadcrumbs-container a:after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs-section .breadcrumbs-container a:last-of-type:after {
  content: "";
}

/*# sourceMappingURL=style.css.map */
